<div class="grid grid-cols-2 gap-4 bg-white rounded-md text-magneticplum font-bold">

  <div class="p-5">

    <%= image_tag "logo_type.svg", class: "mb-8", width: "251", height: "49" %>

    <h1 class="headline-font text-lg uppercase pl-12 mb-8">
      Synchronize
      <br>
      with PLAID
    </h1>

    <h4 class="headline-font text-xs px-12">
    Link your financial accounts via Plaid <br>so we provide personalized AI-<br>powered financial analysis and support<br> for your profile.
    </h4>
  </div>

  <div class="p-5 bg-smoke-grey rounded-r-md">

    <button class="bg-white inline-flex mt-28 mb-8 ml-10 rounded-md">
      <span class="">
       <%= image_tag "plaid_logo.svg", class: "m-1", width: "23", height: "23" %>
		  </span>
      <span class="p-2 mr-16 text-xs">
        Plaid
      </span>
      <span class="ml-8 p-2 text-xs justify-end justify-self-auto text-white bg-moneygreen rounded-r-md">
        Add
      </span>
    </button>

    <button id="link-button">Link Account</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script type="text/javascript">
    (async function($) {

      var handler = Plaid.create({
        // Create a new link_token to initialize Link
        token: (await $.post('create_link_token')).link_token,
        onSuccess: function(public_token, metadata) {
          // Send the public_token to your app server.
          // The metadata object contains info about the institution the
          // user selected and the account ID or IDs, if the
          // Account Select view is enabled.
          $.post('exchange_public_token', {
            public_token: public_token,
          });
        },
        onExit: function(err, metadata) {
          // The user exited the Link flow.
          if (err != null) {
            // The user encountered a Plaid API error prior to exiting.
          }
          // metadata contains information about the institution
          // that the user selected and the most recent API request IDs.
          // Storing this information can be helpful for support.
        },
        onEvent: function(eventName, metadata) {
          // Optionally capture Link flow events, streamed through
          // this callback as your users connect an Item to Plaid.
          // For example:
          // eventName = "TRANSITION_VIEW"
          // metadata  = {
          //   link_session_id: "123-abc",
          //   mfa_type:        "questions",
          //   timestamp:       "2017-09-14T14:42:19.350Z",
          //   view_name:       "MFA",
          // }
        }
      });

      $('#link-button').on('click', function(e) {
        handler.open();
      });
    });
    </script>

    <button class="flex rounded-md text-white bg-moneygreen px-20 py-2 ml-8 mb-16 hover:cursor-pointer">
      Continue
    </button>
  </div>
</div>
  