<div class="grid grid-cols-2 gap-4 p-5 bg-white rounded-md text-magneticplum font-bold">

  <div>

    <%= image_tag "logo_type.svg", class: "mb-8", width: "251", height: "49" %>

    <h1 class="headline-font text-md uppercase pl-12">
      Synchronize with
      <br>
      PLAID
    </h1>
    <h4 class="headline-font text-xs px-12">
    Link your financial accounts via Plaid so we provide personalized AI-powered financial analysis and support for your profile.
    </h4>
  </div>

  <div>

    PLAID
  </div>
</div>
  