@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-mint {
    background-color: #C0FFD0;
  }
  .bg-moneygreen {
    background-color: #009933;
  }

  .bg-forestgreen {
    background-color: #00661F;
  }

  .bg-magneticplum {
    background-color: #32004C;
  }
}
